#cabecero{
    background-color: #282c34;
    min-height: 15vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}

.logo{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
}