/* nav bar */
nav {
    background-color: #282c34;
    width: 100%;
    min-height: 10vh;
}
nav ul{
    margin-top: 0;
    padding-right: 1em;
}

.listas{
    display: inline-flex;
    list-style: none;
    padding-right: 5%;
    background-color: #282c34;
    color: white;
    font-size: calc(10px + 2vmin);
    text-decoration: none;
}

.listas-links{
    text-decoration: none;
    display: inline-flex;
    list-style: none;
    margin-right: 2em;
    background-color: #282c34;
    color: white;
    font-size: calc(10px + 2vmin);
    text-decoration: none;
}
