.table{
    width: 100%;
    padding: 1vh 0vh 1vh 0vh;
    border-collapse: collapse;
    border-spacing: 0;
    color: white;
    font-size: calc(3px + 2vmin);
    background-color: #282c34;
}

.table th{
    color: white;
    padding: 10px;
    text-align: center;
}

.table tbody {
    text-align: center;
}
